<script type="application/ld+json">
{
  "@context": "https://schema.org",
  {% if site.social.type == "Organization" -%}
    "@type": "Organization",
    "url": {{ '/' | absolute_url | jsonify }}{% if site.og_image %},
    "logo": {{ site_og_image | jsonify }}{% endif %}{% if site.social.links %},
    "sameAs": {{ site.social.links | jsonify }}{% endif %}
  {%- else -%}
    "@type": "Person",
    "name": {{ site.social.name | default: site.name | jsonify }},
    "alternateName": ["Pedro Magno Müller", "Pedro Magno Muller", "pmagnomuller"],
    "url": {{ '/' | absolute_url | jsonify }},
    "jobTitle": "Software Engineer",
    "description": {{ site.description | jsonify }},
    "email": {{ site.author.email | jsonify }},
    "image": {{ site.og_image | absolute_url | jsonify }},
    "homeLocation": {
      "@type": "Place",
      "name": {{ site.author.location | default: "Berlin, Germany" | jsonify }}
    }{% if site.social.links %},
    "sameAs": {{ site.social.links | jsonify }}{% endif %}
  {%- endif %}
}
</script>
